<div class="error-msg">
  <h3 class="d-flex justify-content-center mb-3">{{errorMessage}}</h3>
  <h3 id="output" class="d-flex justify-content-center mb-3">{{errorURL}}</h3>
</div>

<a href="/">Back to home</a>