<div class="container">
  <form action="/result" method="POST">
  <div class="d-flex justify-content-center mb-3">
    <input type="text" name="originalUrl" class="form-control" placeholder="https://" style=" width: 50%; ">
  </div>
  <div class="input-group-append d-flex justify-content-center">
      <button class="btn btn-outline-info" type="submit" id="Shorten">Shorten</button>
  </div>
  </form>
</div>