<div class="container">
  <h3 class="d-flex justify-content-center mb-3">Success! Please use this link:</h3>
  <a href="http://localhost:3000/{{shortUrl}}" class="d-flex justify-content-center mb-3">
    <h3 id="output">
      http://localhost:3000/{{shortUrl}}
    </h3>
  </a>

  <div class="d-flex justify-content-center my-3">
    <button id="copy" class="btn btn-info" onclick="copy()">Copy</button>
  </div>
  <script>
    function copy() {
        const URL = document.getElementById("output")
        navigator.clipboard.writeText(URL.innerText)
          .then(() => alert('copied'))
          .catch(error => console.log(error))
      }
  </script>
</div>